.event_main{
    display:flex;
    flex-direction: column;
    margin:20px;

}
.event_content{
    width:100%;
    display:grid;
    grid-template-columns: 2fr 8fr 3fr;
    grid-column-gap: 8px;
    grid-column-column: 8px;
    margin-bottom:20px;
    box-shadow: 5px 5px #7a7a7a2e;
    padding:4px;
    padding-bottom:0px;
}
.event_content > div:last-child{
    margin-left:auto;
}
.event_img{
    width:100%;
    height:100%;
}
.event_img_frame{
    width:200px;
    height:140px;
}
.event_details{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.filter_sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:10px;
    column-gap:5px;
}
.filter_sec > div:first-child{
    margin-right:auto;
}
.event_book_btn{
    background-color:red;
    color:white;
    padding: 1px 8px;
    font-size: 12px;
}
.event_btn_sec{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.event_result{
    color: black;
    
    box-shadow:0 8px 8px 0 rgba(0,0,0,0.25);
    transition:0.5s;
    padding:10px;
    margin:0 auto;
}
.not_visible{
    display:none;
}
.item{
    text-decoration: none!important;
}















